<ion-toolbar color="#11c0a0" padding-start="30">
  <ion-title slot="start">Accueil</ion-title>
  <h1 slot="end">20</h1>
  <ion-icon slot="end" name="cart-outline" routerLink="/panier"></ion-icon>
</ion-toolbar>

<ion-content>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngFor="let av of avis">
      <h1>{{av.date}}</h1>
      <h1>{{av.nom}}</h1>
      <h1>{{av.stars}}</h1>
      <h1>{{av.avie}}</h1>
    </div>
  </ion-content>


  <!-- <div class="cont">
<div class="hed">

</div>
<div class="content">
<div class="dot">

</div>
<div class="text">
  lorem5
</div>
</div>
<div class="content">
  <div class="dot">
  
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, cumque!
  </div>
  </div>
  <div class="content">
    <div class="dot">
    
    </div>
    <div class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque sint pariatur aspernatur odit quod fugit!
    </div>
    </div>
<div class="fot">
  
</div>
</div> -->
<!-- </ion-content> -->
