<ion-toolbar color="#11c0a0" padding-start="30">
  <ion-title slot="start">Accueil</ion-title>
  <h1 slot="end">{{items.length}}</h1>
  <ion-icon slot="end" name="cart-outline" routerLink="/panier"></ion-icon>
</ion-toolbar>

<ion-content>
  <!-- avissssssssssssssssssssssssssssssssss -->
  <!-- <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngFor="let av of avis">
      <h1>{{av.date}}</h1>
      <h1>{{av.nom}}</h1>
      <h1>{{av.stars}}</h1>
      <h1>{{av.avie}}</h1>
    </div>
    <ion-button>get my location :D</ion-button>
  </ion-content> -->
  <div class="cont">
    <div class="commande">
      <div class="top"></div>
      <div class="contents">
        <div class="left">
          <div class="half"></div>
        </div>
        <div class="right">
          <div class="produit">
            <div class="prod">
              <div class="title">
                <img
                  class="image"
                  src="..\assets\icons8-sphere-48.png"
                  alt=""
                />
                <span class="text">Sandwich mlewi</span>
              </div>
              <div class="description">double pate menghire slayet ou 7ar</div>
            </div>
            <ion-icon name="close-circle-sharp"></ion-icon>

            <div class="top-left">
              <div class="qte">2</div>
              <div class="pm">
                <ion-icon name="add-circle-outline"></ion-icon>      
                <ion-icon name="remove-circle-outline"></ion-icon>
              </div>
            </div>
          </div>
          <div class="produit">
            <div class="prod">
              <div class="title">
                <img
                  class="image"
                  src="..\assets\icons8-sphere-48.png"
                  alt=""
                />
                <span class="text">Sandwich mlewi</span>
              </div>
              <div class="description">double pate menghire slayet ou 7ar</div>
            </div>
            <ion-icon name="close-circle-sharp"></ion-icon>

            <div class="top-left">
              <div class="qte">2</div>
              <div class="pm">
                <ion-icon name="add-circle-outline"></ion-icon>      
                <ion-icon name="remove-circle-outline"></ion-icon>
              </div>
            </div>
          </div>
          <div class="produit">
            <div class="prod">
              <div class="title">
                <img
                  class="image"
                  src="..\assets\icons8-sphere-48.png"
                  alt=""
                />
                <span class="text">Sandwich mlewi</span>
              </div>
              <div class="description">double pate menghire slayet ou 7ar</div>
            </div>
            <ion-icon name="close-circle-sharp"></ion-icon>

            <div class="top-left">
              <div class="qte">2</div>
              <div class="pm">
                <ion-icon name="add-circle-outline"></ion-icon>      
                <ion-icon name="remove-circle-outline"></ion-icon>
              </div>
            </div>
          </div>
        
        
        </div>
        
      </div>

      <div class="buttom">
        <div class="mybutton">
<button>Validez</button>
        </div>
        <div class="price">20 DT</div>
      </div>

    </div>
  </div>
</ion-content>
