<body>
  <div class="half">
    <h2>Forgot password</h2>
  </div>
  <div class="bg">

  </div>
  <form autocomplete="off" #form="ngForm" (submit)="forgot(form)" > 
    <div class="logo">
      <ion-icon name="mail"></ion-icon>
        </div>


      <ion-item>
        <ion-input
        placeholder="Your email"
        [(ngModel)]="email"
        name="email"
        type="Email"
      ></ion-input>      </ion-item>
     
      <ion-button type="submit" color="azra9" expand="block" >Send verification mail</ion-button>

  </form>
  <ion-icon routerLink="/accueil" class="exit" name="close-circle-outline"></ion-icon>

</body>
