<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="cont">
    <div class="commande" *ngFor="let order of orders">
      <div class="top">
        <div class="date">{{order.date}}</div>
        <div class="time">{{order.time}}</div>

      </div>
      <div class="contents">
        <div class="left">
          <div class="half"></div>
        </div>
        <div class="right">
          <div
            class="produit"
            *ngFor="let item of order.items; let i = index"
            [attr.data-index]="i"
          >
            <div class="prod">
              <span style="display: none" class="price" #selector
                >{{item.prix}}
              </span>
              <div class="title">
                <img
                  class="image"
                  src="..\assets\icons8-sphere-48.png"
                  alt=""
                />
                <span class="text">{{item.nom}}</span>
              </div>
              <div class="description">{{item.autre}}</div>
            </div>
            <div class="top-left">
              <div class="qte" #selector2>{{item.quantite}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="buttom">
        <ion-button
          (click)="accept(order.id)"
          class="acc"
          expand="full"
          color="abyath"
        >
          <i class="fa fa-check"></i>
        </ion-button>

        <div class="total">{{order.total}} DT</div>
        <ion-button
          (click)="refuse(order.id,order.userID)"
          class="acc"
          expand="full"
          color="abyath"
        >
          <i class="fa fa-times"></i>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
