<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="test()" color="secondary" expand="block"
    >chat</ion-button
  >
  <ion-button routerLink="validation" color="success" expand="block"
    >validatin</ion-button
  >
  <ion-button routerLink="add-livreur" color="success" expand="block"
    >validatin</ion-button
  >
  <ion-button routerLink="/admin/static" color="warning" expand="block">livreurs statics</ion-button>
</ion-content>
