<!-- <ion-toolbar color="#ffe368" padding-start="">
  <ion-title routerLink="/categories" slot="start"
    ><ion-icon name="caret-back-outline"></ion-icon
  ></ion-title>
  <ion-title slot="start" class="center"> Mes commandes </ion-title>
  <h1 slot="end">0</h1>
  <ion-icon slot="end" name="cart-outline" routerLink="/compte"></ion-icon>
</ion-toolbar> -->

<ion-content>
  <div class="cont">
    <div
      class="commande"
      *ngFor="let order of orders let j = index"
      [attr.data-index]="j"
    >
      <div class="top">
        <div class="date">{{orderTime[j]}}</div>
      </div>
      <div class="contents">
        <div class="left">
          <div class="half"></div>
        </div>
        <div class="right">
          <div
            class="produit"
            *ngFor="let item of order.items; let i = index"
            [attr.data-index]="i"
          >
            <div class="prod">
              <span style="display: none" class="price" #selector
                >{{item.prix}}
              </span>
              <div class="title">
                <img
                  class="image"
                  src="..\assets\icons8-sphere-48.png"
                  alt=""
                />
                <span class="text">{{item.nom}}</span>
              </div>
              <div class="description">{{item.autre}}</div>
            </div>
            <div class="top-left">
              <div class="qte" #selector2>{{item.quantite}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="buttom">
        <div
          class="loc"
          (click)="location(order.id)"
        >
          <ion-icon name="location-outline"></ion-icon>localisation
        </div>
        <div class="price">{{order.total}} DT</div>
        <div class="done" (click)="livrer(order.id)">
          <i class="fa fa-check"></i><span style="margin: 0 3px"></span> livrer
        </div>
      </div>
    </div>
  </div>
  <!-- <button (click)="test()">aaaaaaaaaaaaaaaa</button> -->
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/livreur">
    <ion-icon class="map" name="archive-outline"></ion-icon>
    <ion-label>Commande</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/map">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Map</ion-label>
  </ion-tab-button>
</ion-tab-bar>
