<ion-toolbar  color="red" padding-start="30"> 
  <ion-title slot="start">Compte</ion-title>
  <h1 slot="end">100</h1>
    <ion-icon slot="end" name="cart-outline" routerLink="/panier"></ion-icon>

</ion-toolbar>
<body >
  
  <div class="top">

  </div>
  <div class="cont">
    <div class="item itemChat" routerLink="/chat">
      <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Démarrer une chat </span>
    </div>
    <div class="item">
      <ion-icon name="call-outline"></ion-icon>
              <span>Commandez par telephone </span>
    </div>
    <div class="item">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                  <span>Contactez-nous</span>
    </div>
    <div class="item">
      <ion-icon name="help-circle-outline"></ion-icon>
                  <span>FAQ </span>
    </div>
    <div class="item disabled">
      <ion-icon name="language-outline"></ion-icon>
                  <span>Langue:français </span>
    </div>
    <div class="item disabled">
      <ion-icon name="layers-outline"></ion-icon>
            <span>Version d'application 1.0 </span>
    </div>
  </div>
   <div class="bg "></div>
</body>
