.item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: 0 10%;
  margin-bottom: 5%;
  width: 80%;
  height: 75px;
  border-radius: 23px;
  display: flex;
}
.image {
  height: 100%;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nom {
  flex: 7;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.go {
  height: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #11c0a0;
}
.image ion-avatar {
  width: 50px;
  height: 50px;
}
