<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home-outline"></ion-icon>
            <ion-label>accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="compte">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
    <ion-tab-button background-focused="danger" tab="aide">
      <ion-icon name="help-buoy-outline"></ion-icon>
      <ion-label>Aide</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
  
</ion-tabs>
